@charset "UTF-8";

* { /*사방에 빈 여백 채우기*/
	margin: 0;
	padding: 0;
}

html {font-size: 20px;} 	/*생략하면 항상 16px로 생각*/
body {
	font-size: 1rem;
	color: #333;
}

ul {	/*리스트 쩜 빼기*/
	list-style: none;	
}

a, a:link {	/*텍스트 밑줄은 a태그로 뺌*/
	text-decoration: none;
	color: inherit;
}

header {
	border-top: 2px solid black;
	background: beige;
	overflow: hidden; /*넘치면 숨겨줘*/
	height: 150px;
	
}

.wrap {
	max-width: 1050px;
	margin: 0 auto; /*가로 가운데*/
	padding: 1rem 0;
	display: flex;					/*가로로 나열*/
	justify-content: space-between;	/*양끝으로 보내기*/
}

/*
.site-nav {
	margin-left: auto;
}
*/
.nav-top {
	margin: 1rem 0;	/*위 아래 여백을 주ㅓ*/
}
.nav-top, .nav-bottom {
	display: flex;
}

.nav-top a {
	text-transform: capitalize;
}

.nav-top a:hover {
	text-decoration: underline;
}

.nav-top li::after {
	content: '';
	display: inline-block;	/*block은 줄바꿈 됨, 옆에 생기게 inline-block으로 처리*/
	width: 1px;
	height: 50%;	/*li아이템의 50%*/
	background: #ccc;
	margin: 0 0.925rem;
}

.nav-top li:nth-child(4)::after {
	width: 0;
}

.nav-top li:nth-child(5)::after {
	width: 0;
}
/* 검색창, 검색버튼*/
.nav-top li:nth-last-child(1) {
	position: relative;
}
[type=search] {
	width: 30px;
	height: 30px;
	
}
[type=image] {
	position: absolute;
	top: 5px;
	left: 5px;
}


.nav-bottom li:hover {
	background: #3a3a3a;
	color: yellowgreen;
	text-decoration: underline;
	height: 50px;	
}

.nav-bottom a {
	text-transform: uppercase;
	padding: .5rem 1rem;
	margin: .2rem 0 0 0; /*위쪽만마진줘*/
	display: block; /*마진 안들어가서...*/
}

.post-it {
	position: fixed;
	width: 140px;
	height: 214px;
	top: 200px;
	right: 5%;
	
}

.promotion {
	position: relative;
}

.beverage {
	display: flex;
	height: 650px;	
	justify-content: center; /*수평의 가운데*/
	column-gap: 2rem;
}

.b1 {
	align-self: center;
}
.more {
	border: 1px solid white;
	border-radius: 3px;
	color: white;
	width: 40%;
	margin: 2rem auto;
	text-align: center;
	padding: .5rem;
	font-size: .725rem;
}
.more:hover {
	background: white;
	color: yellowgreen;
	text-decoration: underline;
	transition: all .3s ease-in-out;
}
.b2 {
	margin-top: 3rem;
}
.b3 {
	align-self: center;
}
.b4 {
	padding-top: 3rem;
}
.promo-bg {
	display: flex;
	height: 700px;
	position: absolute;
	top:0;
	z-index: -1;
	width: 100%;
}


.left-bg {
	background: yellowgreen;
	flex: 5.5;
}

.right-bg {
	background: skyblue;
	flex: 4.5;
}

.notice {
	display: flex;
	height: 50px;
	overflow: hidden;
}
.news-area {
	flex: 5.5;
	background: #000;
	color: white;
}
.area-items {
	display: flex;
	align-items: center; /*수직정렬 센터로*/
	float: right;
}
.area-items h2 {
	font-size: 1rem;
}
.area-items ul {
	overflow: hidden;
	height: 50px;
	margin: 0 0 0 1rem;
}
.area-items ul li {
	margin: 15px 0;
}
.area-items button {
	margin: 0 1rem 0 0;
	font-size: 1.250rem;
	width: 36px;
	height: 36px;
	background: none;
	border: 1px solid #ccc;
	border-radius: 50%;
	color: #ccc;
}
.promo-area {
	flex: 4.5;
	background: #f1f1f1;
}
.promo-items {
	display: flex;
	height: 50px;
	float: left;
	align-items: center;
	margin: 0 0 0 5rem;
}
.promo-items h2 {
	font-size: 1rem;
}

.promo-items button {
	border: 0;
	background: none;
	width: 30px;
	height: 30px;
	margin: 0 0 0 4rem;
	
}
.benefit {
	background: #13513f;
	color: white;
	font-size: .875rem;
	
}
.benefit .wrap {
	column-gap: 1.8rem;
}
.benefit .wrap {
	column-gap: 1.8rem;
}
.reward-logo {
	flex: 1;
}
.reward-details {
	flex: 4;
}
.membership {
	position: relative;
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}
.membership p {
	letter-spacing: -1px;
}
.membership p:nth-child(1) {
	margin-bottom: .625rem;
	
}
.membership p:nth-child(2) {
	font-size: .875rem;
	
}
.membership p:nth-child(3) {
	font-size: .875rem;
	
}


.btns {
	display: flex;
	
	position: absolute;
	right:0;
	bottom: 1rem;
	column-gap: 1rem;
}

.btns li:nth-child(1) a { /*회원가입*/
	color: white;
	border: 2px solid cadetblue;
	background: cadetblue;
	font-size: .725rem;
	padding: .6rem 1rem;
	border-radius: .15rem;
}

.btns li:nth-child(2) a {	/*로그인*/
	color: white;
	border: 2px solid white;
	font-size: .725rem;
	padding: .6rem 1rem;
	border-radius: .15rem;
}
.giftcard {
	position: relative;
	
	
}
.giftcard p {
	font-size: .7rem;
	letter-spacing: -1px;
}
.gift-button {	
	position: absolute;
	right:0;
	top:0;	
}
.gift-button a {
	color: white;
	border: 2px solid white;
	font-size: .725rem;
	padding: .6rem 1.8rem;
	border-radius: .15rem;		
}


.new-beans {
	padding: 3rem 0;
	background: url("../images/2022_Summer2_bean_bg.jpg") no-repeat center / cover; 	/*cover:알아ㅓ맞춰*/
}

.new-beans .wrap {
	justify-content: space-between;
}

.beans-text {
	color: white;
	margin: 0 2.5rem 0 0;
	letter-spacing: -2px;
	line-height: 1.5; /*행간*/
}

.beans-text p:nth-child(1) {
	font-size: .625rem;
	color: #f3f3f3;
}
.beans-text p:nth-child(2) {
	font-size: 1.250rem;
	color: #fff;
}
.beans-text p:nth-child(3) {
	font-size: .825rem;
	color: #efefef;
}

.beans-text .more {
	margin: 1rem 0;
}

.beans-text p.more:hover {
	color: cadetblue;
}

.reserve-bg {
	height: 400px;
	background: 
	url("../images/reserve_2022_indonesia_leaf1.png") no-repeat left bottom,
	url("../images/reserve_2022_indonesia_leaf2.png") no-repeat 100% bottom,
	url("../images/reserve_2022_indonesia_visual3.png") no-repeat,
	url("../images/reserve_2022_indonesia_visual_bg.jpg") no-repeat center/cover;
}
.reserve-text {
	margin: 4rem 0 0 0;
}

.reserve-text .more {
	border: 1px solid #b07030;
	color: #b07030;
	width: 25%;
}
.reserve-text p.more:hover {
	background: #b07030;
	color:white;
}

.favorite-bg {
	height: 700px;
	background:
	url("../images/fav_prod_bg_new.jpg") no-repeat fixed center / cover;
	background-attachment: fixed;
	
}


.favorite .wrap {
	height: 700px;
	align-items: center;
	justify-content: space-between;
}

.favorite-text {
	text-align:right;
}

.favorite-text .more {
	margin: 2rem 0 2rem 54%;	
}

.favorite-text p.more:hover {
	background: white;
	color:black;
}

.favorite-img {
	width: 70%;
}

.favorite-img img {
	width: 100%;
	object-fit: cover;
}

.magazine-bg {	
	height: 400px;
	background: url("../images/reserve_bg_pc.png") no-repeat 0 300% / contain; 
	/*cover: 꽉 / contain: 이미지 크기만큼*/
}
.magazine-wrap {
	justify-content: space-between;
}
.magazine-text {
	margin-top: 2rem;
}
.magazine-text .more {
	margin: 2rem 0 2rem 54%;
	border: 2px solid black;
	color: black;	
	width: 25%;
}

.magazine-text p.more:hover {
	background: black;
	color:white;
}

.magazine-img {
	width: 30%;	/*전체 크기의 30%*/
	margin: 0 10% 0 0 ;
}
.magazine-img img {
	width: 100%;
	object-fit:cover;
}

.place {
	height: 400px;
	background: url("../images/store_exp_img03.png") no-repeat center -21%,
	url("../images/store_bg.jpg") no-repeat center / cover;
}
.place .wrap {
	padding-top: 0;
}
.place-img {
	width: 450px;
	height: 380px;
	order:0;
	background: url("../images/store_exp_img01.png") no-repeat right bottom,
	url("../images/store_exp_img02.png") no-repeat;
	
	
}
.place-text {
	order:1;
	align-self:flex-end;
	margin-left:2rem;
}

.place-text .more {
	margin: 2rem 0 2rem 54%;	
	border: 2px solid black;
	color:black;
}

.place-text p.more:hover {
	background: black;
	color:white;
}

footer {
	background: #403632;
}
footer > .wrap:nth-child(1) {
	background: url("../images/footer_logo.png") no-repeat right center;
}

.xnb {
	width: 90%;
	display:flex;
	justify-content: space-between;
	font-size: .725rem;
	color:white;
	line-height: 1.8;
}

.xnb >li > a {
	text-transform: uppercase;
}

.wrap-wide {
	background: #272727;	
}
.records {
	display: flex;
}

.block {
	display: block;
}

.links {
	display: flex;
	color:white;
	font-size:.6rem;
	justify-content:center;
}

.links > li::after {	/*li::after > li뒤에*/
	content:'';
	display: inline-block;
	width: 1px;
	height: 100%;
	background: grey;
	margin: 0 5px;
	position: relative; /*스스로 움직이므로 relative(스스로가 기준이됨)*/
	top: 4px;
}

.links > li:nth-last-child(1)::after {
	/*display: none;*/
	background: transparent;
}

.hypertext {
	display: flex;
	margin: 1rem 0;
	justify-content: center;
	column-gap: 1rem;
}

.hypertext > li a {
	border: 2px solid white;
	border-radius: 3px;
	padding : 5px 15px;
	color : white;
	font-size: .725rem;	
}
.hypertext > li a:hover {
	text-decoration: underline;
}

.info {
	color: white;
	font-size: .725rem;
	text-align: center;
	line-height: 2;
}